<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eurico.gudhabconsumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.eurico.gudhabapp.provider.FavProvider.READ_DATABASE" />
    <uses-permission android:name="com.eurico.gudhabapp.provider.FavProvider.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GudHabApp">
        <activity android:name=".view.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.DetailActivity"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
    </application>

    <queries>
        <package android:name="com.eurico.gudhabapp.provider.FavProvider" />
    </queries>

</manifest>